*{
	margin: 0px;
	padding: 0px;
	font-family: 'Times New Roman', Times, serif;
	color: black;
}
/* desktop */
@media(min-width: 390px){
	body{
	display: grid;
	justify-content: center;
}
	.main-box{
	height: 100vh;
	width: 100%;
	margin: 20px;
	border: 2px solid black;
	border-radius: 20px;
	box-shadow: 0px 2px 20px black;
	padding: 40px;
	display: grid;
	align-items: center;
	justify-content: center;
	align-items: center;
}
}

/* mobile */
@media(max-width: 390px){
	.main-box{
	height: 100vh;
	width: 98%;
	margin: 10px;
	display: grid;
	align-items: center;
	justify-content: center;
	align-items: center;
}
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    }
form{
	margin: 10px;
	margin-top: 40px;
}
.content{
	text-align: center;
}
.lab{
	float: left;
}
.inp,select,textarea,option, .gender{
	float: right;
	transition-duration: 0.4s;
}
form input , textarea, select{
    padding: 5px;
    margin-bottom: 0px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
}

 form input:focus , textarea:focus, select:focus{
    border-color: #007bff;
    outline: none;
	border-radius: 10px;
	padding: 5px;
    }

 form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
 form button:hover {
    background-color: #0056b3;
}

input.invalid {
    border-color: red;
	box-shadow: 0px 0px 4px red;
	color: red;
}

input.invalid:focus{
	border-color: red;
	box-shadow: 0px 0px 4px red;
	color: red;

}

input.valid {
    border-color: green;
	box-shadow: 0px 0px 4px green;
	color: green;
}
input.valid:focus{
	border-color: green;
	box-shadow: 0px 0px 4px green;
	color: green;
}
